In [5]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import csv
import calendar

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/new-york-quality/airquality.csv
/kaggle/input/electrocardiograma/echocardiogram (1).data
/kaggle/input/csv-elecro/echocardiogram.csv
/kaggle/input/new-york-city-air-quality/socrata_metadata.json
/kaggle/input/new-york-city-air-quality/air-quality.csv
/kaggle/input/new-york-city-air-quality/OutdoorAirandHealthInfoSource.csv
/kaggle/input/new-york-city-air-quality/DOHMH_AirQuality_DataDictionary.xlsx
/kaggle/input/electro/echocardiogram.data
/kaggle/input/airquality/AirQualityUCI.csv

The Echocardiogram data set in the UCI Machine Learning repository contains information on a set of
patients that suffered heart attacks at some point in the past.
(a) Download the Echocardiogram data set and import it to a data frame. Read the information on the
data set and find out how missing values are represented and make sure that they are properly
represented.
(b) Assign the attributes with meaningful names. You can look for this information on the same
webpage.
(c) According to that same information, is there any redundant or irrelevant attribute that you can
remove? Remove them.
(d) Is there any data type change that you find useful? Perform it.

In [4]:
#Codigo en Phyton
csv_path = '/kaggle/input/csv-elecro/echocardiogram.csv'
df = pd.read_csv(csv_path)
print(df)

print ('Datos faltantes')
print(df.isnull())

      11  0  71  0.1   0.26       9    4.6    14      1    1.1  name 1.2 0.2
0     19  0  72    0   0.38       6    4.1    14    1.7  0.588  name   1   0
1     16  0  55    0   0.26       4   3.42    14      1      1  name   1   0
2     57  0  60    0  0.253  12.062  4.603    16   1.45  0.788  name   1   0
3     19  1  57    0   0.16      22   5.75    18   2.25  0.571  name   1   0
4     26  0  68    0   0.26       5   4.31    12      1  0.857  name   1   0
..   ... ..  ..  ...    ...     ...    ...   ...    ...    ...   ...  ..  ..
125  7.5  1  64    0   0.24    12.9   4.72    12      1  0.857  name   ?   ?
126   41  0  64    0   0.28     5.4   5.47    11    1.1  0.714  name   ?   ?
127   36  0  69    0    0.2       7   5.05  14.5   1.21  0.857  name   ?   ?
128   22  0  57    0   0.14    16.1   4.36    15   1.36  0.786  name   ?   ?
129   20  0  62    0   0.15       0   4.51  15.5  1.409  0.786  name   ?   ?

[130 rows x 13 columns]
Datos faltantes
        11      0     71    0.1   0.26      9    4.6     14      1    1.1  \
0    False  False  False  False  False  False  False  False  False  False
1    False  False  False  False  False  False  False  False  False  False
2    False  False  False  False  False  False  False  False  False  False
3    False  False  False  False  False  False  False  False  False  False
4    False  False  False  False  False  False  False  False  False  False
..     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
125  False  False  False  False  False  False  False  False  False  False
126  False  False  False  False  False  False  False  False  False  False
127  False  False  False  False  False  False  False  False  False  False
128  False  False  False  False  False  False  False  False  False  False
129  False  False  False  False  False  False  False  False  False  False

      name    1.2    0.2
0    False  False  False
1    False  False  False
2    False  False  False
3    False  False  False
4    False  False  False
..     ...    ...    ...
125  False  False  False
126  False  False  False
127  False  False  False
128  False  False  False
129  False  False  False

[130 rows x 13 columns]

Assign the attributes with meaningful names. You can look for this information on the same

In [5]:
#Codigo en Phyton
csv_path = '/kaggle/input/csv-elecro/echocardiogram.csv'
df = pd.read_csv(csv_path)
print(df)
df.columns = [ 
'Survival', 'Still-alive', 'Age-at-heart-attack','Pericardial-effusion','Fractional-shortening','Epss','Lvdd','Wall-motion-score','Wall-motion-index','Mult','Name','Group','Alive-at-1'
          ]

print(df)

      11  0  71  0.1   0.26       9    4.6    14      1    1.1  name 1.2 0.2
0     19  0  72    0   0.38       6    4.1    14    1.7  0.588  name   1   0
1     16  0  55    0   0.26       4   3.42    14      1      1  name   1   0
2     57  0  60    0  0.253  12.062  4.603    16   1.45  0.788  name   1   0
3     19  1  57    0   0.16      22   5.75    18   2.25  0.571  name   1   0
4     26  0  68    0   0.26       5   4.31    12      1  0.857  name   1   0
..   ... ..  ..  ...    ...     ...    ...   ...    ...    ...   ...  ..  ..
125  7.5  1  64    0   0.24    12.9   4.72    12      1  0.857  name   ?   ?
126   41  0  64    0   0.28     5.4   5.47    11    1.1  0.714  name   ?   ?
127   36  0  69    0    0.2       7   5.05  14.5   1.21  0.857  name   ?   ?
128   22  0  57    0   0.14    16.1   4.36    15   1.36  0.786  name   ?   ?
129   20  0  62    0   0.15       0   4.51  15.5  1.409  0.786  name   ?   ?

[130 rows x 13 columns]
    Survival  Still-alive Age-at-heart-attack  Pericardial-effusion  \
0         19            0                  72                     0
1         16            0                  55                     0
2         57            0                  60                     0
3         19            1                  57                     0
4         26            0                  68                     0
..       ...          ...                 ...                   ...
125      7.5            1                  64                     0
126       41            0                  64                     0
127       36            0                  69                     0
128       22            0                  57                     0
129       20            0                  62                     0

    Fractional-shortening    Epss   Lvdd Wall-motion-score Wall-motion-index  \
0                    0.38       6    4.1                14               1.7
1                    0.26       4   3.42                14                 1
2                   0.253  12.062  4.603                16              1.45
3                    0.16      22   5.75                18              2.25
4                    0.26       5   4.31                12                 1
..                    ...     ...    ...               ...               ...
125                  0.24    12.9   4.72                12                 1
126                  0.28     5.4   5.47                11               1.1
127                   0.2       7   5.05              14.5              1.21
128                  0.14    16.1   4.36                15              1.36
129                  0.15       0   4.51              15.5             1.409

      Mult  Name Group Alive-at-1
0    0.588  name     1          0
1        1  name     1          0
2    0.788  name     1          0
3    0.571  name     1          0
4    0.857  name     1          0
..     ...   ...   ...        ...
125  0.857  name     ?          ?
126  0.714  name     ?          ?
127  0.857  name     ?          ?
128  0.786  name     ?          ?
129  0.786  name     ?          ?

[130 rows x 13 columns]

According to that same information, is there any redundant or irrelevant attribute that you can
remove? Remove them.
10. mult -- a derivate var which can be ignored
11. name -- the name of the patient (I have replaced them with "name")
12. group -- meaningless, ignore it

In [10]:
#Codigo en Phyton
csv_path = '/kaggle/input/csv-elecro/echocardiogram.csv'
df = pd.read_csv(csv_path)
df.columns = [ 
'Survival', 'Still-alive', 'Age-at-heart-attack','Pericardial-effusion','Fractional-shortening','Epss','Lvdd','Wall-motion-score','Wall-motion-index','Mult','Name','Group','Alive-at-1'
          ]
print(df)  
print("Despues de eliminar")
del df['Mult']
del df['Name']
print (df)

    Survival  Still-alive Age-at-heart-attack  Pericardial-effusion  \
0         19            0                  72                     0
1         16            0                  55                     0
2         57            0                  60                     0
3         19            1                  57                     0
4         26            0                  68                     0
..       ...          ...                 ...                   ...
125      7.5            1                  64                     0
126       41            0                  64                     0
127       36            0                  69                     0
128       22            0                  57                     0
129       20            0                  62                     0

    Fractional-shortening    Epss   Lvdd Wall-motion-score Wall-motion-index  \
0                    0.38       6    4.1                14               1.7
1                    0.26       4   3.42                14                 1
2                   0.253  12.062  4.603                16              1.45
3                    0.16      22   5.75                18              2.25
4                    0.26       5   4.31                12                 1
..                    ...     ...    ...               ...               ...
125                  0.24    12.9   4.72                12                 1
126                  0.28     5.4   5.47                11               1.1
127                   0.2       7   5.05              14.5              1.21
128                  0.14    16.1   4.36                15              1.36
129                  0.15       0   4.51              15.5             1.409

      Mult  Name Group Alive-at-1
0    0.588  name     1          0
1        1  name     1          0
2    0.788  name     1          0
3    0.571  name     1          0
4    0.857  name     1          0
..     ...   ...   ...        ...
125  0.857  name     ?          ?
126  0.714  name     ?          ?
127  0.857  name     ?          ?
128  0.786  name     ?          ?
129  0.786  name     ?          ?

[130 rows x 13 columns]
Despues de eliminar
    Survival  Still-alive Age-at-heart-attack  Pericardial-effusion  \
0         19            0                  72                     0
1         16            0                  55                     0
2         57            0                  60                     0
3         19            1                  57                     0
4         26            0                  68                     0
..       ...          ...                 ...                   ...
125      7.5            1                  64                     0
126       41            0                  64                     0
127       36            0                  69                     0
128       22            0                  57                     0
129       20            0                  62                     0

    Fractional-shortening    Epss   Lvdd Wall-motion-score Wall-motion-index  \
0                    0.38       6    4.1                14               1.7
1                    0.26       4   3.42                14                 1
2                   0.253  12.062  4.603                16              1.45
3                    0.16      22   5.75                18              2.25
4                    0.26       5   4.31                12                 1
..                    ...     ...    ...               ...               ...
125                  0.24    12.9   4.72                12                 1
126                  0.28     5.4   5.47                11               1.1
127                   0.2       7   5.05              14.5              1.21
128                  0.14    16.1   4.36                15              1.36
129                  0.15       0   4.51              15.5             1.409

    Group Alive-at-1
0       1          0
1       1          0
2       1          0
3       1          0
4       1          0
..    ...        ...
125     ?          ?
126     ?          ?
127     ?          ?
128     ?          ?
129     ?          ?

[130 rows x 11 columns]

<h2>Data Manipulation
<h3>Load the airquality data set regarding a set of New York Air Quality Measurements.

In [8]:
#Codigo en Phyton
csv_path='/kaggle/input/new-york-quality/airquality.csv'
data = pd.read_csv(csv_path)
print(data.head(5))

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

<h3>For which attributes are there missing values?

In [9]:
print('Atributos sin valores')
atributos_sin_valores = data.columns[data.isnull().any()].tolist()
print(atributos_sin_valores)

missing_counts = data.isna().sum()

# Imprimir los resultados
print(missing_counts)

Atributos sin valores
['Ozone', 'Solar.R']
Ozone      37
Solar.R     7
Wind        0
Temp        0
Month       0
Day         0
dtype: int64

<h3>Do all the attributes are in the most suitable data type? Make the changes you find necessary.

In [18]:
#Codigo en Phyton
csv_path='/kaggle/input/new-york-quality/airquality.csv'
data = pd.read_csv(csv_path)
print(data.head(5))
print (data.columns)
column_types = data.dtypes

# Imprimir los resultados
print(column_types)

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5
Index(['Ozone', 'Solar.R', 'Wind', 'Temp', 'Month', 'Day'], dtype='object')
Ozone      float64
Solar.R    float64
Wind       float64
Temp         int64
Month        int64
Day          int64
dtype: object

<h3>What period of the year do these records refer to?

In [19]:
csv_path='/kaggle/input/new-york-quality/airquality.csv'
data = pd.read_csv(csv_path)
print(data.head(5))
print (data.columns)
print(data['Month'].unique())

periodos = {
    1: 'Invierno',
    2: 'Invierno',
    3: 'Primavera',
    4: 'Primavera',
    5: 'Primavera',
    6: 'Verano',
    7: 'Verano',
    8: 'Verano',
    9: 'Otoño',
    10: 'Otoño',
    11: 'Otoño',
    12: 'Invierno'
}

columna_origen = 'Month'
columna_destino = 'periodo'
data[columna_destino] = data[columna_origen].map(periodos)
print(data.head(5))

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5
Index(['Ozone', 'Solar.R', 'Wind', 'Temp', 'Month', 'Day'], dtype='object')
[5 6 7 8 9]
   Ozone  Solar.R  Wind  Temp  Month  Day    periodo
0   41.0    190.0   7.4    67      5    1  Primavera
1   36.0    118.0   8.0    72      5    2  Primavera
2   12.0    149.0  12.6    74      5    3  Primavera
3   18.0    313.0  11.5    62      5    4  Primavera
4    NaN      NaN  14.3    56      5    5  Primavera

<h2>4. Manipulación de datos

<h3> Save the data set in a table data frame format.

In [21]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

Select the days in May with a temperature above 70 Fahrenheit

In [31]:

csv_path='/kaggle/input/new-york-quality/airquality.csv'
data = pd.read_csv(csv_path)
print(data.head(5))

datos_filtrados = data.loc[(data['Month'] == 5) & (data['Temp'] > 70)]


# Imprimir los datos filtrados
print("May days")
print(datos_filtrados)

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5
May days
    Ozone  Solar.R  Wind  Temp  Month  Day
1    36.0    118.0   8.0    72      5    2
2    12.0    149.0  12.6    74      5    3
10    7.0      NaN   6.9    74      5   11
21   11.0    320.0  16.6    73      5   22
28   45.0    252.0  14.9    81      5   29
29  115.0    223.0   5.7    79      5   30
30   37.0    279.0   7.4    76      5   31

<h3> Create a new attribute TempC which represents the temperature values in Celsius.

In [32]:
data['TempC'] = (data['Temp'] - 32) * (5/9)
print (data)

     Ozone  Solar.R  Wind  Temp  Month  Day      TempC
0     41.0    190.0   7.4    67      5    1  19.444444
1     36.0    118.0   8.0    72      5    2  22.222222
2     12.0    149.0  12.6    74      5    3  23.333333
3     18.0    313.0  11.5    62      5    4  16.666667
4      NaN      NaN  14.3    56      5    5  13.333333
..     ...      ...   ...   ...    ...  ...        ...
148   30.0    193.0   6.9    70      9   26  21.111111
149    NaN    145.0  13.2    77      9   27  25.000000
150   14.0    191.0  14.3    75      9   28  23.888889
151   18.0    131.0   8.0    76      9   29  24.444444
152   20.0    223.0  11.5    68      9   30  20.000000

[153 rows x 7 columns]

<h3>Inspect which were the 30 hottest days.

In [37]:
columna_ordenada = data['Temp'].sort_values(ascending=False)

#print(columna_ordenada.head(30))

data_mayores = data[data['Temp'].isin(columna_ordenada.head(30))]

# Imprimir el DataFrame "data_mayores"
print(data_mayores)

     Ozone  Solar.R  Wind  Temp  Month  Day      TempC
38     NaN    273.0   6.9    87      6    8  30.555556
39    71.0    291.0  13.8    90      6    9  32.222222
40    39.0    323.0  11.5    87      6   10  30.555556
41     NaN    259.0  10.9    93      6   11  33.888889
42     NaN    250.0   9.2    92      6   12  33.333333
67    77.0    276.0   5.1    88      7    7  31.111111
68    97.0    267.0   6.3    92      7    8  33.333333
69    97.0    272.0   5.7    92      7    9  33.333333
70    85.0    175.0   7.4    89      7   10  31.666667
74     NaN    291.0  14.9    91      7   14  32.777778
79    79.0    187.0   5.1    87      7   19  30.555556
84    80.0    294.0   8.6    86      7   24  30.000000
87    52.0     82.0  12.0    86      7   27  30.000000
88    82.0    213.0   7.4    88      7   28  31.111111
89    50.0    275.0   7.4    86      7   29  30.000000
95    78.0      NaN   6.9    86      8    4  30.000000
97    66.0      NaN   4.6    87      8    6  30.555556
98   122.0    255.0   4.0    89      8    7  31.666667
99    89.0    229.0  10.3    90      8    8  32.222222
100  110.0    207.0   8.0    90      8    9  32.222222
101    NaN    222.0   8.6    92      8   10  33.333333
102    NaN    137.0  11.5    86      8   11  30.000000
103   44.0    192.0  11.5    86      8   12  30.000000
117   73.0    215.0   8.0    86      8   26  30.000000
118    NaN    153.0   5.7    88      8   27  31.111111
119   76.0    203.0   9.7    97      8   28  36.111111
120  118.0    225.0   2.3    94      8   29  34.444444
121   84.0    237.0   6.3    96      8   30  35.555556
122   85.0    188.0   6.3    94      8   31  34.444444
123   96.0    167.0   6.9    91      9    1  32.777778
124   78.0    197.0   5.1    92      9    2  33.333333
125   73.0    183.0   2.8    93      9    3  33.888889
126   91.0    189.0   4.6    93      9    4  33.888889
127   47.0     95.0   7.4    87      9    5  30.555556

 <h3> Inspect which were the hottest days, but also with the highest ozone values.

In [48]:
data_ordenada = data.sort_values(by=['Temp'], ascending=False)

# Seleccionar los días con los valores más altos de temperatura y ozono
dias_calurosos_temp = data_ordenada.head(30)

data_ordenada2 = data.sort_values(by=['Ozone'], ascending=False)
dias_calurosos_ozono = data_ordenada2.head(30)


# Imprimir los días más calurosos y con los valores más altos de ozono
print(dias_calurosos_temp)
print(dias_calurosos_ozono)

n = 5  # Número de registros a seleccionar
dias_calurosos_ozono = data_ordenada.nlargest(n, ['Temp', 'Ozone'])

# Imprimir los días más calurosos con los valores más altos de ozono
print(dias_calurosos_ozono)


# Imprimir el DataFrame "data_mayores"
#print(data_mayoresO)

     Ozone  Solar.R  Wind  Temp  Month  Day      TempC
119   76.0    203.0   9.7    97      8   28  36.111111
121   84.0    237.0   6.3    96      8   30  35.555556
122   85.0    188.0   6.3    94      8   31  34.444444
120  118.0    225.0   2.3    94      8   29  34.444444
41     NaN    259.0  10.9    93      6   11  33.888889
126   91.0    189.0   4.6    93      9    4  33.888889
125   73.0    183.0   2.8    93      9    3  33.888889
124   78.0    197.0   5.1    92      9    2  33.333333
42     NaN    250.0   9.2    92      6   12  33.333333
101    NaN    222.0   8.6    92      8   10  33.333333
68    97.0    267.0   6.3    92      7    8  33.333333
69    97.0    272.0   5.7    92      7    9  33.333333
74     NaN    291.0  14.9    91      7   14  32.777778
123   96.0    167.0   6.9    91      9    1  32.777778
39    71.0    291.0  13.8    90      6    9  32.222222
100  110.0    207.0   8.0    90      8    9  32.222222
99    89.0    229.0  10.3    90      8    8  32.222222
70    85.0    175.0   7.4    89      7   10  31.666667
98   122.0    255.0   4.0    89      8    7  31.666667
118    NaN    153.0   5.7    88      8   27  31.111111
88    82.0    213.0   7.4    88      7   28  31.111111
67    77.0    276.0   5.1    88      7    7  31.111111
40    39.0    323.0  11.5    87      6   10  30.555556
127   47.0     95.0   7.4    87      9    5  30.555556
97    66.0      NaN   4.6    87      8    6  30.555556
79    79.0    187.0   5.1    87      7   19  30.555556
38     NaN    273.0   6.9    87      6    8  30.555556
84    80.0    294.0   8.6    86      7   24  30.000000
102    NaN    137.0  11.5    86      8   11  30.000000
103   44.0    192.0  11.5    86      8   12  30.000000
     Ozone  Solar.R  Wind  Temp  Month  Day      TempC
116  168.0    238.0   3.4    81      8   25  27.222222
61   135.0    269.0   4.1    84      7    1  28.888889
98   122.0    255.0   4.0    89      8    7  31.666667
120  118.0    225.0   2.3    94      8   29  34.444444
29   115.0    223.0   5.7    79      5   30  26.111111
100  110.0    207.0   8.0    90      8    9  32.222222
85   108.0    223.0   8.0    85      7   25  29.444444
69    97.0    272.0   5.7    92      7    9  33.333333
68    97.0    267.0   6.3    92      7    8  33.333333
123   96.0    167.0   6.9    91      9    1  32.777778
126   91.0    189.0   4.6    93      9    4  33.888889
99    89.0    229.0  10.3    90      8    8  32.222222
70    85.0    175.0   7.4    89      7   10  31.666667
122   85.0    188.0   6.3    94      8   31  34.444444
121   84.0    237.0   6.3    96      8   30  35.555556
88    82.0    213.0   7.4    88      7   28  31.111111
84    80.0    294.0   8.6    86      7   24  30.000000
79    79.0    187.0   5.1    87      7   19  30.555556
95    78.0      NaN   6.9    86      8    4  30.000000
124   78.0    197.0   5.1    92      9    2  33.333333
67    77.0    276.0   5.1    88      7    7  31.111111
119   76.0    203.0   9.7    97      8   28  36.111111
117   73.0    215.0   8.0    86      8   26  30.000000
125   73.0    183.0   2.8    93      9    3  33.888889
39    71.0    291.0  13.8    90      6    9  32.222222
97    66.0      NaN   4.6    87      8    6  30.555556
105   65.0    157.0   9.7    80      8   14  26.666667
65    64.0    175.0   4.6    83      7    5  28.333333
90    64.0    253.0   7.4    83      7   30  28.333333
80    63.0    220.0  11.5    85      7   20  29.444444
     Ozone  Solar.R  Wind  Temp  Month  Day      TempC
119   76.0    203.0   9.7    97      8   28  36.111111
121   84.0    237.0   6.3    96      8   30  35.555556
120  118.0    225.0   2.3    94      8   29  34.444444
122   85.0    188.0   6.3    94      8   31  34.444444
126   91.0    189.0   4.6    93      9    4  33.888889

<h3> Inspect the number of days for which there was a register for each month.

In [53]:
frecuencia_meses = data['Month'].value_counts()

# Imprimir la frecuencia de cada valor
print(frecuencia_meses)

5    31
7    31
8    31
6    30
9    30
Name: Month, dtype: int64

<h3>Obtain the average of the following parameters by month: temperature in celsius, wind, sola

In [54]:
# Calcular la temperatura mínima por mes
temp_min = data.groupby('Month')['TempC'].min().reset_index()

# Calcular la temperatura máxima por mes
temp_max = data.groupby('Month')['TempC'].max().reset_index()

# Combinar los resultados en un nuevo DataFrame
temperaturas = pd.DataFrame({'Month': temp_min['Month'], 'Temp_Min': temp_min['TempC'], 'Temp_Max': temp_max['TempC']})

# Imprimir los resultados
print(temperaturas)

   Month   Temp_Min   Temp_Max
0      5  13.333333  27.222222
1      6  18.333333  33.888889
2      7  22.777778  33.333333
3      8  22.222222  36.111111
4      9  17.222222  33.888889

<h3>Obtain the average of the following parameters by month: temperature in celsius, wind, solar radiation and ozone.

In [55]:
# Calcular los promedios por mes
promedios = data.groupby('Month').mean()[['TempC', 'Wind', 'Solar.R', 'Ozone']]

# Imprimir el DataFrame resultante
print(promedios)

           TempC       Wind     Solar.R      Ozone
Month
5      18.637993  11.622581  181.296296  23.615385
6      26.166667  10.266667  190.166667  29.444444
7      28.835125   8.941935  216.483871  59.115385
8      28.870968   8.793548  171.857143  59.961538
9      24.944444  10.180000  167.433333  31.448276